html {
  font-family : 'Nunito', sans-serif;
}

body {
  display        : flex;
  flex-direction : column;
  height         : 100vh;
  padding        : 2rem;
  background     : linear-gradient(to bottom, #B65200, #7A2900);
}

#root {
  display        : flex;
  align-items    : center;
  flex-direction : column;
  flex-grow      : 1;
  padding        : 1rem;
  border-radius  : 1rem;
  background     : linear-gradient(to bottom, #FFB571, #FF7F39);
}

h1 {
  font-size     : 2rem;
  font-weight   : bold;
  margin-bottom : 1rem;
  color         : white;
}

/* Table */

.table-container {
  overflow-y    : auto;
  width         : 100%;
  max-height    : calc(100vh - 10rem);
  border-radius : 1rem;
}

table {
  overflow : hidden;
  width           : 100%;
  border-collapse : collapse;
}

thead {
  position         : sticky;
  z-index          : 1;
  top              : 0;
  background-color : #FF7F39;
}

th, td {
  position      : relative;
  width         : 100px;
  max-width     : 100px;
  padding       : 8px;
  text-align    : center;
  white-space   : nowrap;
  text-overflow : ellipsis;
}

td {
  overflow      : hidden;
}

tr:nth-child(even) {
  background-color : rgba(255, 255, 255, 0.2);
}

th:not(:last-child)::after, td:not(:last-child)::after {
  position       : absolute;
  top            : 50%;
  right          : 0;
  height         : 80%;
  content        : '';
  transform      : translateY(-50%);
  pointer-events : none;
  border-right   : 1px dashed rgba(255, 255, 255, 0.5);
}
